{% extends "csstemplate.html" %}

{% load static %}

{% block head %}
<title> 线性代数解题平台 </title>
{% endblock head %}

{% block body %}
<!-- 主内容 -->
    <main class="m1">
  <div class="container">
    <div class="row1">
      <!-- 内容 -->
      <div  class="row3">
          <p class ="name1">Hello world!</p>
          <p class ="name2">Hello Matrix!</p>
      </div>
        <div class="row2" role="complementary">
            <div class = "form">
        <form method="POST">
              {% csrf_token %}
              <div class="sub1">
                  <label for="char">输入账号</label>
                  <input type="text" name="username" style="color: #0c4128">
              </div>
              <div class="sub1">
                  <label for="char" >输入密码</label>
                  <input type="password" name="password" style="color: #0c4128">
              </div>
              <div class = "block2">
                  <div class="main-red-button">
                      <button type="submit" class ="btn btn-default"  >提交</button>
                  <a href="{% url 'logon' %}" type="button" class = "btn btn-default" id="regist" >注册</a>
                  </div>
              </div>
          </form>
                </div>
      </div>
    </div>

        <!-- 侧边栏 -->


    </div>
  </div>
</main>
{#<main>#}
{#  <div class="container">#}
{#    <div class="row">#}
{#      <!-- 内容 -->#}
{#      <div role="main" class="col-md-9">#}
{#          <p class ="name1">Hello world!</p>#}
{#          <p class ="name2">Hello Matrix!</p>#}
{#      </div>#}
{##}
{#      <!-- 侧边栏 -->#}
{#      <div class="col-md-3" role="complementary">#}
{#      <div class = "panel-body">#}
{#          <form method="POST">#}
{#              {% csrf_token %}#}
{#              <label for="char">输入账号</label>#}
{#              <div>#}
{#                  <input type="text" name="username" >#}
{#              </div>#}
{#              <label for="char">输入密码</label>#}
{#              <div>#}
{#                  <input type="password" name="password">#}
{#              </div>#}
{#              <div clss = "col-md-2">#}
{#                  <button type="submit" class ="btn btn-default" >提交</button>#}
{#                  <a href="{% url 'logon' %}" type="button" class = "btn btn-default" id="regist">注册</a>#}
{#              </div>#}
{#          </form>#}
{#      </div>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}
{#</main>#}

<!-- 答案生成代码 -->

{#<script>#}
{#    $('#submit').click(() => {#}
{#      $('#course-area').empty();#}
{##}
{#      let initHead = {#}
{#        method: 'POST',#}
{#        mode: 'same-origin',#}
{#        headers: {'X-csrftoken': docCookies.getItem('csrftoken')},#}
{#        body: JSON.stringify({username: $('#username').val(),password:$('#password').val()}),#}
{#      };#}
{##}
{#      fetch(new Request("{% url 'login' %}", initHead))#}
{#      .then(response => response.json())#}
{#      .then(data => {#}
{#        console.log(data);#}
{#        loadHurwitzSolverData(data, document.getElementById('course-area'));#}
{#        MathJax.typeset();#}
{#      });#}
{#    })#}
{##}
{#</script>#}
    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message}}');
        {% endfor %}
    </script>
    {% endif %}
<style>
.name1{
  width:600px;
  line-height: 150px;
  color: white;
    text-shadow:
    0px 0px 20px pink,
    0px 0px 10px orange,
    0px 0px 10px orangered,
    0px 0px 10px red;
  font-size:90px;
    margin-top: 180px;
}
.name2{
    width:600px;
  line-height: 150px;
  color: white;
    text-shadow:
    0px 0px 20px pink,
    0px 0px 10px orange,
    0px 0px 10px orangered,
    0px 0px 10px red;
  font-size:90px;
     margin-bottom: 100px;
}
.row1{
    width: 1000px;
    height: 700px;
}

.row2{
    width: 300px;
    height: 500px;
    display: table-cell;
}
.row3{
    width: 700px;
    height: 700px;
    display: table-cell;
}
.form{
    position: absolute;
    width: 400px;
    height: 300px;
    margin-top:180px;
    margin-bottom: 400px;
    font-size: 20px;
    border: solid;
    border-color: lightpink;
    border-radius: 20px;
    text-align: center;
}
.block2{
    margin-top: 40px;
}
.block2 button{
        display: inline-block;
    background-color: #fe3f40;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
    text-align: center;
}
.sub1{
     color: white;
    text-shadow:
    0px 0px 20px pink,
    0px 0px 10px orange,
    0px 0px 10px orangered,
    0px 0px 10px red;
    margin-top: 45px;
}
.m1{
            margin-top: 200px;
            background-image: url(../static/image/baner-dec-right.png),
                              url(../static/image/baner-dec-left.png);
            background-repeat: no-repeat;
            background-position:100% 50%,0% 50%;
            background-size: 50%,50%;
            background-attachment:scroll;
        }
</style>
{% endblock body %}